<% const d = new Date(); let year = d.getFullYear(); %>

<footer class="footer bg-dark text-light py-4 mt-5 w-100">
  <div class="container text-center">
    <!-- Footer Links -->
    <div class="row">
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-light">About the Project</a></li>
          <li><a href="https://github.com/andrewlapointe/cookbook" class="text-light">Source Code</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Check Me Out</h5>
        <div>
          <a href="https://www.linkedin.com/in/andrew-r-lapointe/" class="text-light me-3"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/andrewlapointe" class="text-light me-3"><i class="fab fa-github"></i></a>
          <a href="https://bsky.app/profile/mrfahrenheit02.bsky.social" class="text-light me-3"><i class="fab fa-bluesky"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: <a href="mailto:andrew@example.com" class="text-light">andrew@example.com</a></p>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="mt-4">
      <p class="mb-0">&copy; <%= year %> - Cookbook Project - Andrew LaPointe</p>
    </div>
  </div>
</footer>