<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/account/login">Login</a>
      </li>
      <li>
        <a href="/account/register">Register</a>
      </li>
      <li>
        <a href="/cms/hub">CMS</a>
      </li>
    </ul>
  </nav>
</header>