<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Website Logo -->
      <a class="navbar-brand" href="/">Cookbook</a>

      <!-- Navbar Toggler for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cookbook/all">Explore</a>
          </li>

          <!-- Categories Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
              <li><a class="dropdown-item" href="/categories/appetizers">Appetizers</a></li>
              <li><a class="dropdown-item" href="/categories/main-courses">Main Courses</a></li>
              <li><a class="dropdown-item" href="/categories/desserts">Desserts</a></li>
              <li><a class="dropdown-item" href="/categories/beverages">Beverages</a></li>
              <li><a class="dropdown-item" href="/categories/vegetarian">Vegetarian</a></li>
              <li><a class="dropdown-item" href="/categories/soups">Soups</a></li>
            </ul>
          </li>

          <!-- CMS Link -->
          <li class="nav-item">
            <a class="nav-link" href="/cms/hub">My Recipes</a>
          </li>
        </ul>

        <!-- Search Bar -->
        <%- include('../partials/search') %>


        <!-- User Profile / Auth Links -->
        <ul class="navbar-nav ms-3">
          <% if (locals.loggedin) { %>
          <li class="nav-item">
            <a class="btn btn-outline-light" href="/account/profile">Profile</a>
          </li>
          <li class="nav-item ms-2">
            <a class="btn btn-danger" href="/account/logout">Logout</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="btn btn-light" href="/account/login">Login</a>
          </li>
          <li class="nav-item ms-2">
            <a class="btn btn-outline-light" href="/account/register">Register</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>