<form class="d-flex" action="/cookbook/search" method="get">
  <input class="form-control me-2" type="search" name="q" placeholder="Search recipes..." aria-label="Search" required>
  <button class="btn btn-outline-light" type="submit">Search</button>
</form>