<div class="recipe-container card ">
  <div class="card-body">
    <h2 class="text-center mb-4">Shopping List</h2>
    <div class="row px-2">
      <div class="col-md-10 w-100 mx-auto">

        <div class="d-flex justify-content-center mb-2">
          <button class="btn btn-sm btn-primary mx-2" onclick="$('#add-item-form').toggleClass('hidden')">Add</button>
          <button class="btn btn-sm btn-warning mx-2" onclick="$('button.list-remove-btns').toggleClass('hidden')">Edit</button>
          <button class="btn btn-sm btn-danger mx-2" onclick="showConfirmModal('Are you sure you want to clear your shopping list? This cannot be undone.', () => clearShoppingListLS())">Clear</button>
        </div>

        <form action="/shopping-list/add" method="POST" id="add-item-form" class="hidden">
          <div class="input-group mb-2">
            <input type="text" class="form-control" name="item" id="item" placeholder="Add an item" required>
            <button class="btn btn-primary" type="submit">Add</button>
          </div>
        </form>

        <hr width="100%" size="2">

        <ul id="shopping-list-ul" class="list-group">
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('./confirmationModal') %>


<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    buildShoppingList()
    $('form#add-item-form').on('submit', (event) => {
      event.preventDefault();
      let ingredient = $('input#item').val();
      addShoppingListItemLS(ingredient, null);
    })
  });
</script>