<div class="form-container">
  <h2>Login</h2>
  <form method="POST" action="/account/login">
    <div class="mb-3">
      <label for="loginEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="loginEmail" name="email" required />
    </div>
    <div class="mb-3">
      <label for="loginPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="loginPassword" name="password" required />
    </div>
    <input type="text" name="redirect" id="redirect" value="<%= goto %>" hidden readonly>
    <button type="submit" class="btn btn-primary w-100">Login</button>
    <p>Don't have an account? Register <a href="/account/register">here</a>.</p>
  </form>
</div>