<div class="form-container">
  <h2>Register</h2>
  <div class="container border-2 border-start border-warning">
    <p>While in beta, all accounts must receive prior approval. Reach out to the site Admin before registering.</p>
  </div>
  <form method="POST" action="/account/register">
    <div class="mb-3">
      <label for="registerUsername" class="form-label">Username</label>
      <input type="text" class="form-control" id="registerUsername" name="username" required />
    </div>
    <div class="mb-3">
      <label for="registerEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="registerEmail" name="email" required />
    </div>
    <div class="mb-3">
      <label for="registerPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="registerPassword" name="password" required />
    </div>
    <button type="submit" class="btn btn-success w-100">Register</button>
  </form>
  <p>Already have an account? Login <a href="/account/login">here</a>.</p>
</div>