.recipe-card {
    transition: transform 0.3s ease-in-out;
}
.recipe-card:hover {
    transform: scale(1.05);
}
.recipe-card img {
    height: 300px;
    object-fit: cover;
}

div#grid-header {
    position: relative;
    button {
        position: absolute;
        top: auto;
        bottom: 0;
        height: fit-content;
    }
}

button.active-custom {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px !important;
}

img#recipe-page-img {
    /* width: 80%;
    height: 100%;
    object-fit: cover; */
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.recipe-container {
    max-width: 800px;
}

img#recipe-page-img {
    /* By default, .img-fluid ensures width:100% and height:auto */
    /* Remove max-height or set it only if you want a limit */
    display: block;
    margin: 0 auto;
}

/* div#servings-time-container {
    padding-right: 3em;
} */

div#servings-time-container {
    background-color: lightgrey;
}
